.container {
  display: flex;
  margin: 50px 85px 0 80px;
  line-height: 200%;
}

@media (max-width: 620px) {
  .container {
    font-size: 13.5px;
  }
}

@media (max-width: 499px) {
  .container {
    margin: 30px 30px 0 20px;
  }
}
